body {
  background-color: #185adb;
  font-family: sans-serif;
}

main {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.tittle {
  color: #f9f9f9;
}

.tittle:hover {
  color: #f54748;
}

a:link {
  text-decoration: none;
}

a:hover,
a:active {
  color: #4aa96c;
}

#result {
  color: #ecd662;
}
