body {
  background-color: #cdf0ea;
  color: #da0037;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  font-family: sans-serif;
  height: 100vh;
}

.form {
  margin-top: 5rem;
  align-self: center;
  background-color: #f6c6ea;
  width: 18rem;
  display: flex;
  flex-flow: column nowrap;
  border: 3px #c6ffc1;
  border-spacing: 2px;
  border-style: dotted;
  padding: 2rem;
  padding-right: 0px;
  justify-content: center;
}

.form [type="text"],
.form [type="number"] {
  width: 8rem;
}

a {
  text-decoration: none;
  background-color: #66de93;
  color: red;
  font-weight: bold;
  border-radius: 50%;
  border: 1px black solid;
  padding: 0.5rem;
}

a:hover,
a:active {
  color: #66de93;
  background-color: red;
}

#txtScore:invalid + #checkScore::before {
  content: "Max score is 100";
}

#signUp {
  background-color: #c84b31;
  color: #ffeda3;
  font-weight: bold;
  border-style: none;
  padding: 0.5rem;
  box-shadow: 1px 1px 1px 1px rgba(0.2, 0.3, 0.6, 0.6);
  width: 8rem;
}
